{{ 'section-bundle.css' | asset_url | stylesheet_tag }}
{{ 'section-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'bundle-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign collection = section.settings.collection
  assign sectionId = section.id | remove: '-'

  assign enable_animations = section.settings.enable_animations
  assign animation = section.settings.animation

  assign percentage_amount = 0
  assign savings = 0
  assign total = 0
  assign price = 0
  assign difference = 0
  assign trigger = section.settings.product_trigger | downcase

  for product in collection.products limit: 3
    assign title = product.title | downcase
    if trigger == title
      if section.settings.percentage_offer == 100
        if product.compare_at_price_min > product.price_min
          assign savings = savings | plus: product.compare_at_price_min
          assign total = total | plus: product.compare_at_price_min
        else
          assign savings = savings | plus: product.price_min
          assign total = total | plus: product.price_min
        endif
      else
        assign percentage_offer = section.settings.percentage_offer | times: 0.01
        assign percentage_amount = percentage_amount | plus: product.price_min | times: percentage_offer
        assign price = price | plus: product.price_min | minus: percentage_amount
        if product.compare_at_price_min > product.price_min
          assign difference = product.compare_at_price_min | minus: product.price_min
          assign savings = savings | plus: difference | plus: percentage_amount
          assign total = total | plus: product.compare_at_price_min
        else
          assign savings = savings | plus: percentage_amount
          assign total = total | plus: product.price_min
        endif
      endif
    else
      assign price = price | plus: product.price_min
      if product.compare_at_price_min > product.price_min
        assign total = total | plus: product.compare_at_price_min
        assign difference = product.compare_at_price_min | minus: product.price_min
        assign savings = savings | plus: difference
      else
        assign total = total | plus: product.price_min
      endif
    endif
  endfor
  
  assign bgImage = section.settings.image_bg_colored
  assign bgImageMobile = section.settings.image_bg_colored_mobile
  if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank
    render 'cut-colored'
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_sm }}px;
    padding-bottom: {{ section.settings.padding_bottom_sm }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- render 'separator-top', section: section -%}

<div id="{{ section.settings.section_id }}"
  class="color-{{ section.settings.color_palette }} section-{{ section.id }}-padding{% if section.settings.enable_cut_bg_color or bgImage != blank or bgImageMobile != blank %} cut-colored-section{% endif %}"
  data-section-id="{{ section.id }}"
>
  <div class="container container--{{ section.settings.layout_width }}">
    {%- liquid
      for block in section.blocks
        if block.type == "picto"
          render "pictogram", block: block
        endif
      endfor
    -%}
    
    <div class="bundle">
      {%- if section.settings.heading != blank -%}
        {%- render 'heading',
          alignment: section.settings.desktop_content_alignment,
          enable_animations: enable_animations,
          animation: animation,
          subheading: section.settings.subheading,
          heading: section.settings.heading,
          heading_class: 'bundle__heading',
          heading_style: section.settings.heading_style
        -%}
      {%- endif -%}
      
      <bundle-form class="product-form">
        <div class="product-form__error-message-wrapper" role="alert" hidden="">
          {% render 'icon-error' %}
          <span class="product-form__error-message"></span>
        </div>
        <form
          action="/cart/add"
          id="product-form-{{ section.id }}"
          method="post"
          enctype="multipart/form-data"
          class="form bundle__form bundle__form--small-center bundle__form--medium-up-{{ section.settings.desktop_content_alignment }}"
          novalidate="novalidate"
          data-type="add-to-cart-form"
        >
          <input type="hidden" name="form_type" value="product">
          <input type="hidden" name="utf8" value="✓">
          
          <div class="bundle__products grid grid--1-col grid--3-col-tablet">
            {%- if collection.products.size > 0 -%}
              {%- for product in collection.products limit: 3 -%}
                {%- if product.available -%}
                  {% render 'card-product-bundle', product: product, trigger: trigger %}
                {%- endif -%}
              {%- endfor -%}
            {%- else -%}
              {%- for i in (1..3) -%}
                <div
                  class="bundle__product"
                  {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
                >
                  <div class="collection__card--product">
                    <div class="placeholder global-media-settings">
                      {{ 'product-' | append: i | placeholder_svg_tag }}
                    </div>
                    <h3 class="card__product-heading">Product {{ i }} - 19.99$</h3>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>

          <div class="bundle__meta small-center medium-up-{{ section.settings.desktop_content_alignment }}">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'price' -%}
                  <div
                    class="bundle__price"
                    {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
                  >
                    {%- if block.settings.text_before_price != blank -%}
                      <span>{{ block.settings.text_before_price }}</span>
                    {%- endif -%}
                    {% if total > price -%}
                      <span class="bundle__compare-at-price">
                        <del>{{ total | money_without_trailing_zeros }}</del>
                      </span>
                    {%- endif %}
                    <span class="bundle__price bundle__price--regular{% if total > price %} bundle__on-sale{% endif %}">
                      {{- price | money_without_trailing_zeros -}}
                    </span>
                  </div>

                {%- when 'button' -%}
                  <div
                    class="bundle__button button__container product-form__buttons"
                    {%- render 'animation', enable_animations: enable_animations, animation: animation -%}
                  >
                    {% if block.settings.direct_checkout %}
                      <input type="hidden" name="return_to" value="/checkout/">
                    {% endif %}
      
                    <button
                      type="submit"
                      name="add"
                      id="ProductSubmitButton-{{ section.id }}"
                      class="product-form__submit button button__style--{{ block.settings.button_style }}"
                    >
                      <span>
                        {{- block.settings.button_text -}}
                      </span>
                      <div class="loading-overlay__spinner hidden">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          class="spinner"
                          viewBox="0 0 66 66"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </button>
                    
                    {%- liquid
                      if block.settings.extra_button
                        render 'extra-button', unique: section.id
                      endif
                    -%}
                  </div>

                {%- when 'text' -%}
                  <div class="bundle__text" {% render 'animation', enable_animations: enable_animations, animation: animation -%}>
                    {%- assign savings_amount = savings | money_without_trailing_zeros -%}
                    {%- assign text = block.settings.form_text | replace: '[amount]', savings_amount | replace: '[percent]', percentage_amount -%}
                    <p>{{ text }}</p>
                  </div>

                {%- when 'timer' -%}
                  <div class="bundle__timer">
                    {%- render 'timer', show_animations: true, timer_style: block.settings.timer_style -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </form>
      </bundle-form>
    </div>
  </div>
</div>

{%- render 'separator-bottom', section: section -%}

{% schema %}
{
  "name": "t:sections.bundle.name",
  "tag": "section",
  "class": "section section-bundle",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.bundle.video.content"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "t:sections.global.section_id"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.bundle.collection.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.global.subheading.label",
      "placeholder": "Best offer"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.global.heading.label",
      "default": "Frequently bought together"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "1",
          "label": "t:sections.global.style.options.1"
        },
        {
          "value": "2",
          "label": "t:sections.global.style.options.2"
        },
        {
          "value": "3",
          "label": "t:sections.global.style.options.3"
        }
      ],
      "default": "2",
      "label": "t:sections.global.style.heading"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.bundle.headers.product_in_sale"
    },
    {
      "type": "text",
      "id": "product_trigger",
      "label": "t:sections.bundle.product_trigger.label"
    },
    {
      "type": "text",
      "id": "badge",
      "label": "t:sections.global.badge.label",
      "default": "FREE"
    },
    {
      "type": "range",
      "id": "percentage_offer",
      "min": 5,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "t:sections.bundle.percentage_offer.label",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "t:sections.reviews.navigation.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "t:sections.reviews.pagination.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.animations"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:sections.global.animation.enable",
      "default": true
    },
    {
      "type": "select",
      "id": "animation",
      "options": [
        {
          "value": "fade-up",
          "label": "t:sections.global.animation.options.fade_up"
        },
        {
          "value": "fade-down",
          "label": "t:sections.global.animation.options.fade_down"
        },
        {
          "value": "fade-right",
          "label": "t:sections.global.animation.options.fade_right"
        },
        {
          "value": "fade-left",
          "label": "t:sections.global.animation.options.fade_left"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.global.animation.options.zoom_in"
        },
        {
          "value": "zoom-out",
          "label": "t:sections.global.animation.options.zoom_out"
        }
      ],
      "default": "fade-up",
      "label": "t:sections.global.animation.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.layout"
    },
    {
      "type": "select",
      "id": "layout_width",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.global.layout_width.options.page_width_narrow"
        },
        {
          "value": "normal",
          "label": "t:sections.global.layout_width.options.page_width"
        },
        {
          "value": "full-padded",
          "label": "t:sections.global.layout_width.options.full_width_padded"
        },
        {
          "value": "full",
          "label": "t:sections.global.layout_width.options.full_width"
        }
      ],
      "default": "normal",
      "label": "t:sections.global.layout_width.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom.label",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_top_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_top_sm.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom_sm",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.padding_bottom_sm.label",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "default": "background",
      "label": "t:sections.global.colors_palette.label"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored",
      "label": "t:sections.global.cut_bg_color.image_bg_colored"
    },
    {
      "type": "image_picker",
      "id": "image_bg_colored_mobile",
      "label": "t:sections.global.cut_bg_color.image_bg_colored_mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_cut_bg_color",
      "default": false,
      "label": "t:sections.global.cut_bg_color.enable_cut_bg_color"
    },
    {
      "type": "color",
      "id": "cut_bg_color",
      "default": "#F6F6F6",
      "label": "t:sections.global.cut_bg_color.cut_bg_color"
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical",
      "default": 0
    },
    {
      "type": "range",
      "id": "cut_bg_color_vertical_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_vertical_mobile",
      "default": 0
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal",
      "default": 0
    },
    {
      "type": "range",
      "id": "cut_bg_color_horizontal_mobile",
      "min": -100,
      "max": 100,
      "step": 2,
      "unit": "%",
      "label": "t:sections.global.cut_bg_color.cut_bg_color_horizontal_mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.global.headers.separators"
    },
    {
      "type": "select",
      "id": "separator_top",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.top"
    },
    {
      "type": "checkbox",
      "id": "separator_top_invert",
      "label": "t:sections.global.separators.invert",
      "default": false
    },
    {
      "type": "select",
      "id": "separator_bottom",
      "options": [
        {
          "value": "none",
          "label": "t:sections.global.separators.options.none"
        },
        {
          "value": "wave",
          "label": "t:sections.global.separators.options.wave"
        },
        {
          "value": "curve-1",
          "label": "t:sections.global.separators.options.curve1"
        },
        {
          "value": "curve-2",
          "label": "t:sections.global.separators.options.curve2"
        },
        {
          "value": "curve-3",
          "label": "t:sections.global.separators.options.curve3"
        },
        {
          "value": "arrow-1",
          "label": "t:sections.global.separators.options.arrow1"
        },
        {
          "value": "arrow-2",
          "label": "t:sections.global.separators.options.arrow2"
        },
        {
          "value": "circle",
          "label": "t:sections.global.separators.options.circle"
        },
        {
          "value": "diagonal-1",
          "label": "t:sections.global.separators.options.diagonal-1"
        },
        {
          "value": "diagonal-2",
          "label": "t:sections.global.separators.options.diagonal-2"
        },
        {
          "value": "diagonal-3",
          "label": "t:sections.global.separators.options.diagonal-3"
        },
        {
          "value": "fade",
          "label": "t:sections.global.separators.options.fade"
        },
        {
          "value": "line",
          "label": "t:sections.global.separators.options.line"
        }
      ],
      "default": "none",
      "label": "t:sections.global.separators.bottom"
    },
    {
      "type": "checkbox",
      "id": "separator_bottom_invert",
      "label": "t:sections.global.separators.invert",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "separator_animated",
      "label": "t:sections.global.separators.animated",
      "default": false
    },
    {
      "type": "color",
      "id": "separator_bg_color",
      "label": "t:sections.global.separators.bg_color"
    }
  ],
  "blocks": [
    {
      "type": "price",
      "name": "t:sections.bundle.blocks.price",
      "settings": [
        {
          "type": "text",
          "id": "text_before_price",
          "label": "t:sections.bundle.text_before_price.label",
          "default": "Total price:"
        },
      ]
    },
    {
      "type": "button",
      "name": "t:sections.bundle.blocks.button",
      "settings": [
        {
          "type": "checkbox",
          "id": "direct_checkout",
          "label": "t:sections.bundle.direct_checkout.label",
          "default": false
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.global.button_text.label",
          "default": "Add to cart"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "1",
              "label": "t:sections.global.style.options.1"
            },
            {
              "value": "2",
              "label": "t:sections.global.style.options.2"
            },
            {
              "value": "3",
              "label": "t:sections.global.style.options.3"
            }
          ],
          "default": "1",
          "label": "t:sections.global.style.button"
        },
        {
          "type": "checkbox",
          "id": "extra_button",
          "label": "t:sections.global.style.extra_button.label",
          "info": "t:sections.global.style.extra_button.info",
          "default": false
        },
      ]
    },
    {
      "type": "text",
      "name": "t:sections.bundle.blocks.text",
      "settings": [
        {
          "type": "text",
          "id": "form_text",
          "label": "t:sections.bundle.form_text.label",
          "info": "t:sections.bundle.form_text.info",
          "default": "Enjoy $ OFF when purchasing this bundle!"
        },
      ]
    },
    {
      "type": "timer",
      "name": "t:sections.bundle.blocks.timer",
      "settings": [
        {
          "type": "select",
          "id": "timer_style",
          "options": [
            {
              "value": "minimalist",
              "label": "t:sections.bundle.timer_style.options.minimalist"
            },
            {
              "value": "full",
              "label": "t:sections.bundle.timer_style.options.full"
            }
          ],
          "default": "minimalist",
          "label": "t:sections.bundle.timer_style.label"
        },
      ]
    },
    {
      "type": "picto",
      "name": "t:sections.global.picto.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.picto.image"
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.top_left"
        },
        {
          "type": "range",
          "id": "top",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top",
          "default": 36
        },
        {
          "type": "range",
          "id": "left",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left",
          "default": 36
        },
        {
          "type": "range",
          "id": "top_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.top_mobile",
          "default": 36
        },
        {
          "type": "range",
          "id": "left_mobile",
          "min": -50,
          "max": 130,
          "step": 2,
          "unit": "%",
          "label": "t:sections.global.picto.left_mobile",
          "default": 36
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.rotate"
        },
        {
          "type": "range",
          "id": "rotate",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate",
          "default": 0
        },
        {
          "type": "range",
          "id": "rotate_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "deg",
          "label": "t:sections.global.picto.rotate_mobile",
          "default": 0
        },
        {
          "type": "header",
          "content": "t:sections.global.picto.headers.width"
        },
        {
          "type": "range",
          "id": "width",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width",
          "default": 72
        },
        {
          "type": "range",
          "id": "width_mobile",
          "min": 0,
          "max": 356,
          "step": 4,
          "unit": "px",
          "label": "t:sections.global.picto.width_mobile",
          "default": 72
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.bundle.name",
      "blocks": [
        { "type": "price" },
        { "type": "button" },
        { "type": "text" },
      ]
    }
  ]
}
{% endschema %}
